<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hetai.ble.ble_hetai_lib">
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- BLE连接服务服务 -->
        <service android:name="com.hetai.ble.ble_hetai_lib.service.BluetoothLeService" android:enabled="true" />
    </application>

</manifest>
